html,
body {
	height: 100%;
	overflow: hidden;
}

.centre {
	text-align: center;
}

.t1 {
	color: #fff;
}

#tool-bar>li {
	list-style-type: none;
	display: inline-block;
	padding: 0 calc(0.01 * 100vw + 10px) 0 calc(0.01 * 100vw + 10px);
	float: left;
}

#tool-bar>text {
	display: none;
}

#tool-bar>li:hover:not(.focusbar) {
	background-color: #0e5c2f;
}

#tool-bar {
	background-color: #217346;
}

.bar {
	color: white;
	background-color: none;
}

.focusbar {
	background-color: #fff;
	color: #217346;
}

#tools {
	background-color: #f3f3f3;
}

#funcbar {
	background-color: #e6e6e6;
}

#cover {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
	display: none;
	z-index: 100;
}

#func {
	position: relative;
	margin: 0 12px 0 12px;
}

input {
	border: 0;
}

input:focus {
	border: 0;
	outline: 0;
}

#foot {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#foot1 {
	background-color: #e6e6e6;
	padding-left: 40px;
}

#foot2 {
	background-color: #f3f3f3;
}

#foot1>span.focus {
	background-color: white;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 10px;
	position: relative;
	top: -1px;
	border-bottom: solid #0E5C2F 1px;
}

#foot1>span {
	background-color: #e6e6e6;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 10px;
	position: relative;
	top: -1px;
}

#scroll-x {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	height: 17px;
	width: 500px;
	right: 0;
	overflow-y: hidden;
	overflow-x: scroll;
	top: 0;
}

#scroll-x-length {
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
	width: 0.1px;
	height: 0.1px;
	position: absolute;
}

#main-sheet {
	background-color: #d4d4d4;
	display: flex;
	flex-flow: column;
	gap: 1px;
}

.row {
	width: 100%;
	height: calc(46px / 2);
	display: flex;
	flex-flow: row;
	gap: 1px;
}

.cell {
	height: calc(46px / 2);
	width: calc(175px / 2);
	background-color: white;
	flex-shrink: 0;
	z-index: 1;
}

.cell.focus {
	z-index: 2;
	position: relative;
	left: -1.5px;
}

.cell.choose-down.choose-right:after {
	content: ' ';
	display: block;
	width: 4px;
	height: 4px;
	background-color: #217346;
	position: absolute;
	top: calc(100% - 1.5px);
	left: calc(100% - 1.5px);
	z-index: 3;
}

.cell.choose:not(.focus) {
	z-index: 1;
	filter: brightness(80%);
	position: relative;
	left: -1.5px;
}

.cell.choose-up {
	border-top: solid #217346 1.5px;
	position: relative;
	top: -1.5px;
}

.cell.choose-down {
	border-bottom: solid #217346 1.5px;
}

.cell.choose-left {
	border-left: solid #217346 1.5px;
}

.cell.choose-right {
	border-right: solid #217346 1.5px;
	position: relative;
	/* left: -1px; */
}

.cell.sp-choose {
	background-color: #eaf0f9;
	position: relative;
	left: -1.5px;
}

.cell.sp-choose-up {
	border-top: dashed 1.5px #326ac7;
	position: relative;
	top: -1.5px;
}

.cell.sp-choose-down {
	border-bottom: dashed 1.5px #326ac7;
}

.cell.sp-choose-left {
	border-left: dashed 1.5px #326ac7;
}

.cell.sp-choose-right {
	border-right: dashed 1.5px #326ac7;
	position: relative;
	/* left: -1px; */
}

.cell.choose-right~.cell {
	position: relative;
	left: -3px;
}

.cell.choose-right~.sp-choose {
	position: relative;
	left: -4.5px;
}

.cell.choose-right~.cell.sp-choose-right~.cell {
	position: relative !important;
	left: -6px !important;
}

.cell.sp-choose-right~.cell {
	position: relative;
	left: -3px;
}

.finput::selection {
	background: #c4c4c4;
}

.text {
	position: relative;
	padding-left: 1px;
	z-index: 0;
	white-space: nowrap;
	width: 100%;
}

.focus>.text {
	background-color: white;
}

error {
	color: red;
}

error:after {
	content: ' ';
	max-width: 10px;
	max-height: 10px;
	position: absolute;
	left: 0;
	top: 0;
	border-width: 0 0 10px 10px;
	border-style: solid;
	border-color: transparent #ff0000;
}

#cover-bar {
	background-color: #217346;
	font-size: calc(35px / 2000 * 100vh);
	color: white;
	height: 100%;
	float: left;
}

#cover-bar>li {
	list-style-type: none;
	display: block;
	padding: calc(30 / 2000 * 100vh) 0 calc(30 / 2000 * 100vh) 0;
	text-align: center;
	width: 100%;
}

#cover-bar>li:hover {
	background-color: #0e5c2f !important;
}

#cover-bar>hr {
	border: 0;
	height: 1px;
	background-color: #6eb38a;
	margin-left: calc(50 / 3000 * 100vw);
	margin-right: calc(50 / 3000 * 100vw);
}

#cover-content {
	height: 100vh;
	position: absolute;
	top: 0;
	overflow: auto;
}

#cover-content>img {
	margin: auto;
	max-width: 50vw;
}

.focusCbar {
	background-color: #004b1c;
	border: solid white 2px;
	box-sizing: border-box;
}

a {
	color: #006cac;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {

	width: 100%;
	margin-top: 10px;
	padding: 0;
	line-height: normal;
	border-collapse: collapse;
	margin-bottom: 20px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	border-spacing: 2px;
	border-color: grey;
	font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
	font-weight: normal;
	max-width: 100vw;
	font-size: 62.5%;
}

table th {
	text-align: left;
	padding: 3px 10px 3px 5px;
	background: #d8d8d8;
	color: #333;
	border-top: 1px solid #a4a4a4;
	border-bottom: 1px solid #a4a4a4;
	font-size: 1.12em;
	box-sizing: border-box;
}

table th p {
	margin-top: 14px;
	margin-bottom: 14px;
	font-size: 1.4em;
	line-height: 1.5;
	color: #393939;
	font-family: 'Segoe UI Semibold', 'wf_segoe-ui_semibold', 'wf_segoe-ui_normal', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
	font-weight: 400;
}

table tr {
	background-color: #f4f4f4;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding: 0 !important;
	vertical-align: top;
	border-collapse: collapse;
	margin-bottom: 20px;
	border-bottom: none;
	width: 100%;
	margin-top: 10px;
	padding: 0;
	line-height: normal;

}

table td {
	padding: 4px 10px 4px 10px;
	margin: 0;
	vertical-align: top;
}
